@import url('https://fonts.googleapis.com/css?family=Teko:500');
@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');

.App {
  text-align: center;
}

.App,
#root,
body,
.Logo, .Logo * ,
.Countdown, .Countdown * {
  pointer-events: none;
  user-select: none;
}

.Join a, canvas {
  pointer-events: all;
}

.Logo img {
  max-width: 100%;
  width: 300px;
  margin-top: 20px;
  user-select: none;
}

.Logo-baseline {
  font-family: 'Teko', sans-serif;
  color: #abad6d;
  font-size: 100px;
  pointer-events: none;

  @media (max-width: 700px) {
    font-size: 15vw;
  }
}

.Logo-subline {
  color: #abad6d;
  font-size: 20px;
  pointer-events: none;
  margin-top: -20px;
}

.App-discord {
}

.App-discord img {
  user-select: none;
  max-width: 100%;
  width: 100px;
  transition: 250ms all ease-in-out;
}

.App-discord img:hover {
  transform: scale(1.3);
}

.App-logo,
.App-discord {
  display: block;
  margin: 0 auto;
}

.Join {
  font-family: 'Teko', sans-serif;
  border: 4px solid #555;
  max-width: 300px;
  padding: 20px;
  bottom: 30px;
  margin: 40px auto;
  font-size: 24px;
}

.Join a {
  text-decoration: none;
}

.Join-soon {
  pointer-events: none;

  color: #aaa;
}

.Join-text {
  font-family: 'Teko', sans-serif;
  text-transform: uppercase;
  color: #999;
  text-decoration: none;
  font-size: 30px;
}

.Countdown {
  font-family: 'Share Tech Mono', monospace;
  color: #666;
  font-size: 60px;
  font-size: 8vw;
  margin-top: 40px;
}
