.App {
    text-align: center;
}

.App-logo {
    position: absolute;
    width: 313px;
    top: 50%;
    left: 50%;
    margin-left: -156px;
    margin-top: -200px;
    pointer-events: none;
    user-select: none;
}

.App-logo::-moz-selection {
    background: #000;
}

.App-discord {
    position: absolute;
    left: 50%;
    margin-left: -80px;
    bottom: 100px;
    width: 160px;

}

.App-discord img {
    user-select: none;
    max-width: 100%;
    transition: 250ms all ease-in-out;
}

.App-discord img:hover {
    transform: scale(1.1);
}

@media screen and (max-height: 500px) {
    .App-logo,
    .App-discord {
        position: static;
        display: block;
        margin: 0 auto;
    }
}
